
go/system_programming_with_go/chapter2/multiwriter.txt
*.txt
*.gz
go/system_programming_with_go/chapter3/file.go
.local/
.cache/
python/python_security_programming/.python_history
python/python_security_programming/.bash_history
python/python_security_programming/.sudo_as_admin_successful
